body{
    padding: 0;
    margin: 0;
}
.page1{
    height: 100vh;
    width: 100%;
    background-image: url(/images/enjoy.webp); 
    background-size: cover; 
    justify-content: center;
    flex-direction: column;
}
.nav{
    height: 10%;
    width: 100%;
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: end;
    flex-direction: row;
    list-style: none;
    margin-right: 20px;
    
}
.list{
    margin: 20px;

}
.navbar button{
    height: 35%;
    width: 7%;
    border-radius: 15px;
    background-color: orangered;
    margin-top: 20px;
    border: none;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    font-size: larger;
}


.page2{
    height: 100vh;
    width: 100%;
}
.top{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.bottom1,.bottom2,.bottom3{
    height: 100%;
    width: 30%;
}
.bottom1 img,.bottom2 img,.bottom3 img{
    height: 40%;
    width: 70%;
    border-radius: 10px;
}

.page3{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex ;

}

.right{
    height: 100%;
    width: 55%;
    background-image: url(/Family_cooking.webp);
    background-size: cover;
}

.left{
    height: 100%;
    width: 55%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.left h1{
    color: coral;
    margin-right: 63%;
    
}

.left p{
    margin-right: 15%;
    font-size: large;
}

.left ol{
    margin-right: 60%;
    font-weight: 600;
    font-size: larger;
    margin-bottom: 30%;
}

.left button{
    height: 35%;
    width: 95%;
    background-color: orangered;
    margin: 10%;
    border-radius: 15px;
    border: none;
}

.page4{
    height: 100vh;
    width: 100%;
    background-color: rgb(248, 240, 240);
}
.main{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.picha{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
}
.picha1,.picha2,.picha3{
    height: 100%;
    width: 30%;
}
.picha1 img,.picha2 img,.picha3 img{
    height: 90%;
    width: 90%;
}
.bt{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt button{
    height: 70%;
    width: 15%;
    border-radius: 15px;
    border: none;
}

.page5{
    height: 100vh;
    width: 100%;
    background-color: aqua;
}
.kubwa{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.chini{
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    
}
.chini1,.chini2,.chini3,.chini4{
    height: 100%;
    width: 30%;
    margin-top: 25px;
    margin-left: 20px;
}

.chini1 img,.chini2 img,.chini3 img,.chini4 img{
    height: 40%;
    width: 80%;
    
}
.h3{
    display: flex;
    justify-content: center;
}


.page6{
    height: 100vh;
    width: 100%;
}
.nje{
    height: 100%;
    width: 100%;
    background-image: url(/images/subscribe.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ndani{
    height: 40%;
    width: 70%;
    background-color:white;
    margin-left: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ndani ,h2{
    font-size: larger;
}
.tx{
    margin-left: 10%;
    color: rgb(148, 144, 144);
}

.page7{
    height: 100vh;
    width: 100%;
}
 .short{
    height: 10%;
    width: 100%;
    background-color: white; 
} 
.tall{
    /* height: 100%; */
    /* width: 100%; */
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20%;
}
.tall1,.tall2,.tall3,.tall4,.tall5{
    height: 40%;
    width: 80%;
    /* margin-top: 30%; */
    margin-left: 20px;
    list-style: none;
}
.tall4 img{
    height: 100%;
    width: 40%;
    
}
.tall4{
    margin-top: 8%;
}
.kadogo{
    /* height: ; */
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
}

.kadogo1{
    height: 10%;
    width: 40%;
    /* background-color: white; */
    
}
.kadogo1,p{
    color: black;
}
.kadogo1 button{
    background-color: orangered;
}

.tall ,p{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
    
}
.p , a{
    font-size: larger;
    text-decoration: none;
    color: orangered;
}

.p, a:hover{
    text-decoration: underline;
}

    
    
    


    


